### Print 0-20 by using range

In [1]:
for nums in range(0,20):
    print(nums)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

### Print range 10-20

In [2]:
for nums in range(10,20):
    print(nums, end=' ')

10 11 12 13 14 15 16 17 18 19

In [5]:
list = [10,20,14,55,43,87,76]
print(list)
print("Num of items in the lists 2 :")
print(len(list))

[10, 20, 14, 55, 43, 87, 76]
Num of items in the lists 2 :
7

In [9]:
for letters in ("ARTIFICIAL INTELLEGENCE"):
    print(letters)

A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
E
G
E
N
C
E

In [11]:
Biodata = ("Priyadharshini Manikandan", 32, "Data Analyst")
for items in (Biodata):
    print(items)

Priyadharshini Manikandan
32
Data Analyst

### Mixed datatype using Tuple

In [14]:
tuple=(1,"Welcome", 2, "Hope")
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [16]:
tuple1 = (0,1,2,3)
tuple2 = ('Python','HOPE')
tuple3 = (tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('Python', 'HOPE'))

### Print odd nums in the lists

In [29]:
list=(20,10,16,19,25,1,276,188)
print(list)
for nums in list:
    if nums % 2 !=0:
        print(nums, "is Odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is Odd
25 is Odd
1 is Odd

### Print Even numbers in the list

In [30]:
list=(20,10,16,19,25,1,276,188)
print(list)
for nums in list:
    if nums % 2 == 0:
        print(nums,"is Even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is Even
10 is Even
16 is Even
276 is Even
188 is Even